$maxwidth: 900px;
$widthmax: 100%;
$widthcolumn: 300px;
$promowidth: 60%;
$videowidth: 100%;
$formmaxwidth: 650px;
$widthpaquete: 1200px;
$maxwidthipaquete: 400px;
$rbotonwidth: 200px;

$footerheight: 40px;
$rbotonheight: 35px;

$margintop: 20px;
$margintopbottompaquete1: auto;
$marginbottompaquete1: 30px;
$rbotonmargintop: 5%;
$margintopbottom: 130px;

$paddingtop: 20px;
$paddingright: 20px;
$paddingcontent: 10px;
$paddingform: 5px 40px;
$paddingpaquete: 10px;
$paddingipaquete: 20px;
$paddingbottomhpaquete: 20px;
$paddingparrafo: 20px;
$footerpadding: 10px;

$fontsizehdestinos: 24px;
$fontsizeparrafo: 15px;
$fontsizehtitulo: 36px;
$fontsizeptitulo: 24px;
$fontsizecontact: 20px;
$basefontsize: 20px;
$textareafontsize: 18px;
$labelfontsize: 16px;
$fontsizehpaquete: 30px;
$footerfontsize: 20px;

$backcolor: #1d6598;
$footerbgcolor: #1d6598;
$footeropacity: 0.6;
$hovercolor: rgb(0, 56, 168);
$textcolor: black;
$maincolor: black;
$borderradius: 30px;
$labelfontweight: 100;
$btnfontweight: 600;
$btncolor: black;
$footerfontcolor: white;

$promopaddingtop: 350px;
$promopaddingtopmobile: 200px;
