@import "variables";
@import "mixin";
@import "header";
@import "../scss/paginas_scss/index";
@import "../scss/paginas_scss/destinos";
@import "../scss/paginas_scss/paquetes";
@import "../scss/paginas_scss/historia";
@import "../scss/paginas_scss/contacto";
@import "footer";

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    height: 100%;
}

#hero {
    min-height: 100vh;
    position: relative;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bbackground {
    background-image: url(../assets/imagenes/background1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: none;
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
