/*HEADER*/
.navbar-brand img {
  height: 100px;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

.navbar-nav .nav-link {
  color: black !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
  padding-right: 20px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.navbar-nav .nav-link:hover {
  color: rgb(0, 56, 168) !important;
}

.navbar-toggler {
  margin-right: 10px;
  padding: 0;
}

.navbar-toggler-icon {
  background-color: white;
}

@media (max-width: 768px) {
  .navbar-nav .nav-item {
    margin-left: 20px;
    padding-right: 10px;
  }
  .navbar-brand img {
    padding-left: 20px;
  }
}
/* INDEX */
.htitulo {
  font-size: 36px;
}

.ptitulo {
  font-size: 24px;
}

.promo {
  padding-top: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .promo {
    text-align: center;
    padding-top: 200px;
  }
  .ptitulo {
    padding: 10px;
  }
}
.rboton {
  margin: auto;
  margin-top: 5%;
  width: 200px;
  height: 35px;
  border-radius: 30px;
}
.rboton:hover {
  color: rgb(0, 56, 168);
}

.contact {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  color: black;
  text-decoration: none;
}

/* DESTINOS */
.destinos1, .destinos2, .destinos3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1200px;
  padding-top: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.destinos1 .idestinos1, .destinos1 .idestinos2, .destinos1 .idestinos3, .destinos2 .idestinos1, .destinos2 .idestinos2, .destinos2 .idestinos3, .destinos3 .idestinos1, .destinos3 .idestinos2, .destinos3 .idestinos3 {
  max-width: 400px;
  padding: 20px;
}
.destinos1 .hdestinos1, .destinos1 .hdestinos2, .destinos1 .hdestinos3, .destinos2 .hdestinos1, .destinos2 .hdestinos2, .destinos2 .hdestinos3, .destinos3 .hdestinos1, .destinos3 .hdestinos2, .destinos3 .hdestinos3 {
  padding-bottom: 20px;
  font-style: normal;
  font-size: 30px;
}
.destinos1 .parrafodestinos1, .destinos1 .parrafodestinos2, .destinos1 .parrafodestinos3, .destinos2 .parrafodestinos1, .destinos2 .parrafodestinos2, .destinos2 .parrafodestinos3, .destinos3 .parrafodestinos1, .destinos3 .parrafodestinos2, .destinos3 .parrafodestinos3 {
  font-style: normal;
  font-size: 15px;
  padding: 20px;
  text-align: justify;
  color: black;
}
@media screen and (max-width: 768px) {
  .destinos1, .destinos2, .destinos3 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}

.container1 {
  display: flex;
  margin-top: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* PAQUETES */
.paquete1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1200px;
  padding-right: 10px;
  margin-top: auto;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .paquete1 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
.paquete1 .ipaquete1 {
  max-width: 400px;
  padding: 20px;
}
.paquete1 .hpaquete1 {
  display: flex;
  padding-bottom: 20px;
  font-style: normal;
  font-size: 30px;
}
.paquete1 .parrafopaquete1 {
  font-style: normal;
  font-size: 15px;
  padding: 20px;
  color: black;
  text-align: justify;
  align-items: center;
}

.paquete2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 1200px;
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .paquete2 {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
}
.paquete2 .ipaquete2 {
  max-width: 400px;
  padding: 20px;
}
.paquete2 .hpaquete2 {
  display: flex;
  padding-bottom: 20px;
  font-style: normal;
  font-size: 30px;
}
.paquete2 .parrafopaquete2 {
  font-style: normal;
  font-size: 15px;
  padding: 20px;
  color: black;
  text-align: justify;
  align-items: center;
}

/* HISTORIA */
.phistoria {
  font-style: normal;
  font-size: 20px;
  color: black;
  text-align: justify;
  line-height: 40px;
}

.hhistoria {
  padding-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  width: 100%;
  height: 800px;
}
@media (max-width: 768px) {
  .video {
    width: 100%;
    height: auto;
  }
}

/* CONTACTO */
.form {
  background: #1D6598;
  opacity: 0.6;
  max-width: 650px;
  padding: 5px 40px;
  margin-top: 130px;
  margin-bottom: 130px;
  border-radius: 30px;
}
.form .form-title {
  color: black;
  text-align: center;
  padding-bottom: 10px;
}
.form .form-label {
  display: block;
  color: black;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  position: relative;
  padding-top: 10px;
}
.form .form-imput,
.form .form-textarea,
.form .btn-submit {
  width: 100%;
}
.form .form-textarea {
  background: white;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 18px;
}
.form .btn-submit {
  border-radius: 30px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  color: black;
}

/* FOOTER */
.direccion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-top: auto;
  background-color: #1D6598;
  opacity: 0.6;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  font-style: normal;
  color: white;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

html {
  height: 100%;
}

#hero {
  min-height: 100vh;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bbackground {
  background-image: url(../assets/imagenes/background1.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: none;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

/*# sourceMappingURL=styles.css.map */
